*, ::after, ::before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	word-wrap: break-word;
}

:root {
	font-size: 32px;
	font-family: "Atkinson Hyperlegible", sans-serif;
	color: var(--color-fg);
	color-scheme: light;

	--color-fg: #000;
	--color-bg: #fff;
	--color-highlight: #ff4400;
}

@media (prefers-color-scheme: dark) {
	:root {
		--color-fg: #fff;
		--color-bg: #000;
		--color-highlight: #ffbb00;
		color-scheme: dark;
	}
}

body {
	margin: 0;
	background: var(--color-bg);
}

#wrapper {
	max-width: 30rem;
	margin: 0 auto;
	padding: 1rem;
}

nav > ul, .horizButtons {
	list-style: none;
	padding: 0;
	margin: 0.25rem -0.25rem;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

nav > ul button, nav > ul a, .horizButtons button {
	margin: 0.25rem;
	width: 6.5rem;
	height: 6.5rem;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	flex-wrap: wrap;
	gap: 0.25rem;
}

nav > ul svg {
	width: 3rem;
	height: 3rem;
}

button, input, nav > ul a, select {
	font: inherit;
	border-radius: 0.25rem;
	padding: 0.15rem 0.4rem;
	border: solid var(--color-fg) 0.1rem;
}

button:disabled, input:disabled, nav > ul a:disabled, select:disabled {
	opacity: 0.5;
}

input {
	background: var(--color-bg);
}

input[type="checkbox"] {
	height: 0.75em;
	width: 0.75em;
}

h1, h2, h3 {
	border-radius: 0.25rem;
	margin: 0.75rem 0;
}

h1 {
	text-align: center;
}

p {
	margin: 0.75rem 0;
}

#wordDisplay {
	font-size: 6em;
}

#wordDisplay span.typed {
	color: var(--color-highlight);
}

select {
	background: var(--color-bg);
}

button, nav > ul a {
	background: var(--color-fg);
	color: var(--color-bg);
	text-decoration: none;
}

button {
	display: inline-block;
}

:focus:not(.inputLabelPair *), .inputLabelPair:focus-within {
	outline: solid 0.25rem var(--color-highlight);
	outline-offset: 0.1rem;
}

.inputLabelPair {
	border-radius: 0.25rem;
}

fieldset {
	margin: 1rem 0;
	padding: 0.5rem 1rem;
}

fieldset > label, fieldset > select, fieldset > button, fieldset > div {
	display: block;
	margin: 0.5rem 0;
}

legend {
	margin-bottom: -0.5rem;
}

legend > * {
	margin: 0;
}

.visuallyHidden {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	white-space: nowrap;
	border-width: 0;
	pointer-events: none;
	z-index: -1000;
}

#loader:not([hidden]) {
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

@font-face {
	font-family: "Atkinson Hyperlegible";
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url("static/fonts/Atkinson-Hyperlegible/Atkinson-Hyperlegible-Regular-102a.woff2") format("woff2");
}

@font-face {
	font-family: "Atkinson Hyperlegible";
	font-style: normal;
	font-weight: 700;
	font-display: swap;
	src: url("static/fonts/Atkinson-Hyperlegible/Atkinson-Hyperlegible-Bold-102a.woff2") format("woff2");
}
